{% if artist.qty_artists_related > 0 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCollaborations"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCollaborations" aria-expanded="false" aria-controls="collapseCollaborations"><b>Collaborations</b></button></h2>
    <div id="collapseCollaborations" class="accordion-collapse collapse" aria-labelledby="headingCollaborations" data-bs-parent="#accordionArtist">
      <div class="accordion-body">
        <div class="row">
          {% for related in artist.artists_related %}
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card-group">{{ card_macro.card_artist(artist=related) }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
