{% extends 'layout.html' %}
{% import 'macro_cards.j2' as card_macro -%}
{% block content %}
  <div class="card">
    <div class="card-header">
      <b>{{ artist.name_artist }}</b>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="row">
          <div class="position-relative d-inline-block">
            <img src="{{ artist.url_image }}" class="rounded" width="400" /><br />
          </div>
        </div>
        <div class="row">
          <div class="d-flex flex-wrap gap-1 my-2">
            {% for genre in artist.collection_genres %}
              <span class="badge bg-primary">{{ genre.name_genre }}</span>
            {% endfor %}
            {% for style in artist.collection_styles %}
              <span class="badge bg-success">{{ style.name_style }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="accordion" id="accordionArtist">
          {% include 'artists/artist_profile.html' %}
          {% include 'artists/artist_collection_items.html' %}
          {% include 'artists/artist_members.html' %}
          {% include 'artists/artist_groups.html' %}
          {% include 'artists/artist_side_projects.html' %}
          {% include 'artists/artist_similar.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
