{% extends 'layout.html' %}
{% import 'macro_cards.j2' as card_macro -%}
{% block content %}
  <div class="card">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col">
          <b>Random 5 artists</b>
        </div>
        <div class="col-auto float-right">
          <button type="button" class="btn btn-primary btn-sm" onClick="window.location.reload();">Refresh</button>
        </div>
      </div>
    </div>
    <div class="row">
      {% for artist in random_artists %}
        <div class="col justify-content-md-center">
          {{ card_macro.card_artist(artist) }}
        </div>
      {% endfor %}
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col">
          <b>All artists</b>
        </div>
        <div class="col-auto float-right">
          <a href="/artists_all" class="btn btn-primary btn-sm">All</a>
        </div>
      </div>
    </div>
    <div class="row">
      {% for artist in all_artists %}
        <div class="col justify-content-md-center">
          <div class="card-group">
            {{ card_macro.card_artist(artist) }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
