{% extends 'layout.html' %}
{% block content %}
  <h2>All artists</h2>
  <div class="row">
    <div class="d-flex flex-wrap flex-row justify-content-center mb-3">
      {% for artist in all_artists %}
        <div class="card-group">
          <div class="card border-secondary mb-3">
            <div class="card-body text-center">
              <span class="position-absolute top-10 end-0 translate-middle badge rounded-pill text-bg-secondary">{{ artist.qty_collection_items }}</span>
              <span class="visually-hidden">Items collected</span>
              <img src="{{ artist.url_image }}" height="150" />
            </div>
            <div class="card-footer text-center">{{ artist.name_artist }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
