{% extends 'layout.html' %}
{% import 'macro_cards.j2' as card_macro -%}
{% block content %}
<h2>Collection items</h2>
  <div class="container">
    <div class="row">
      <div class="d-flex flex-wrap flex-row justify-content-center mb-3">
        <!-- HTMX-enabled search input -->
        <input type="text" class="input flex-fill" placeholder="Search" name="query" hx-get="/collection_items_search" hx-trigger="keyup changed delay:500ms" hx-target="#results" />
      </div>
    </div>
  </div>
  <div id="results">
    <div class="row">
      <div class="d-flex flex-wrap flex-row justify-content-center mb-3">
        {% for item in all_items %}
          <div class="col justify-content-md-center">{{ card_macro.card_collection_item(item) }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
