{% extends 'layout.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <b>Discogs settings</b>
    </div>
    <div class="card-body">
      <p>
        Discogs authentication &nbsp;
        {% if config.credentials_ok %}
          <i class="fa-solid fa-square-check text-success"></i><br /><br />
          Retrieve Discogs data &nbsp;
          <a href="/simulate_etl" class="btn btn-primary btn-sm" id="btn_start_etl">Start</a>
          <div id="statusDiv"></div>
          <h2 class="text-center text-2xl font-bold text-blue-500">Collection items</h2>
          <div id="progressCollection"></div>
          <h2 id="artistDiv" class="text-center text-2xl font-bold text-blue-500">Artist progress</h2>
          <div id="progressArtist"></div>
          <div id="messageDiv"></div>
        {% else %}
          <i class="fa-solid fa-triangle-exclamation text-warning"></i><br />
          <a href="{{ config.url_discogs }}" target="_blank" class="btn btn-primary btn-sm">Allow Discogs access</a>
        {% endif %}
      </p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='progress_etl.js') }}"></script>
{% endblock %}
