{% extends "layout.html" %}
{% block content%}
    <div class="bg-image">
        <div class="mask text-light d-flex justify-content-center flex-column text-center rounded" style="background-color: rgba(0, 0, 0, 0.5)">
            <h2>Exploring your music collection</h2>
        </div>
        <img src="static/images/vinyl_record.jpg" class="rounded" style="width:100%;">
    </div>
    <br>
    <p>Bla bla</p>
    <p>More bla bla</p>
        Have fun!</p>
        <hr class="my-2">
    <p>How navigate
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="/artists" class="btn btn-secondary btn-lg btn-block">Artists</a>
            </div>
            <div class="col-md">
                <a href="/collection_items" class="btn btn-secondary btn-lg btn-block">Collection items</a>
            </div>
        </div>
    </div>
{% endblock content %}