{% extends 'layout.html' %}
{% block content %}
<div class="position-relative text-center">
    <img src="static/images/vinyl_record.jpg" class="img-fluid rounded" alt="Vinyl Record" />
    <!-- Overlay for heading -->
    <div class="position-absolute top-0 start-50 translate-middle-x text-light mt-3">
      <h2 class="text-shadow">Exploring your music collection</h2>
    </div>
    <!-- Overlay for buttons -->
    <div class="position-absolute bottom-0 end-0 p-3">
      <div class="btn-group">
        <a href="/artists" class="btn text-decoration-none link-hover">Artists</a>
        <a href="/collection_items" class="btn text-decoration-none link-hover">Collection items</a>
      </div>
    </div>
  </div>

{% endblock %}
