{% extends 'layout.html' %}
{% block content %}
<div class="position-relative text-center">
    <img src="static/images/vinyl_record.jpg" class="img-fluid rounded" alt="Vinyl Record" />
    <!-- Overlay for heading -->
    <div class="position-absolute top-0 start-0 text-light mx-4 my-4">
      <h2 class="text-shadow">My Music Collection</h2>
    </div>
    <!-- Overlay for buttons -->
    <div class="position-absolute bottom-0 end-0 mx-3 my-4">
      <div class="btn-group">
        <a href="/artists" class="btn btn-lg text-shadow btn-link custom-btn link-hover"><h3>Artists</h3></a>
        <a href="/collection_items" class="btn btn-link custom-btn btn-lg text-shadow link-hover"><h3>Collection items</h3></a>
      </div>
    </div>
  </div>

{% endblock %}
